In [1]:
import pandas as pd
from fastai.tabular.all import *

# Experiment

In [ ]:
df1 = pd.read_csv("./rsqa-indice-qualite-air-2022-2024.csv")
df2 = pd.read_csv("./rsqa-indice-qualite-air-2019-2021.csv")
df = pd.concat([df1, df2], ignore_index=True)

In [ ]:
df.isna().sum()

stationId    0
valeur       0
dtype: int64

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df['datetime'] = df['date'] + pd.to_timedelta(df['heure'], unit='h')
df.head()

   stationId polluant  valeur       date  heure            datetime
0        103       O3      15 2022-01-15      3 2022-01-15 03:00:00
1        103      NO2       2 2022-01-15      3 2022-01-15 03:00:00
2        103       PM      12 2022-01-15      3 2022-01-15 03:00:00
3         17       CO       1 2022-02-04     21 2022-02-04 21:00:00
4         17       O3      17 2022-02-04     21 2022-02-04 21:00:00

In [ ]:
df = df.sort_values(by='datetime')
df.set_index('datetime', inplace=True)

In [ ]:
df.drop(['date', 'heure', 'polluant'], axis=1, inplace=True)
df

                     stationId  valeur
datetime
2019-01-01 00:00:00         50      36
2019-01-01 00:00:00         55      37
2019-01-01 00:00:00         28       7
2019-01-01 00:00:00          7       3
2019-01-01 00:00:00         80       1
...                        ...     ...
2024-04-09 23:00:00          3       7
2024-04-09 23:00:00          3       1
2024-04-09 23:00:00          3       2
2024-04-09 23:00:00         50      10
2024-04-09 23:00:00         99       2

[1789045 rows x 2 columns]

In [ ]:
# Feature engineering
df['year'] = df.index.year
df['month'] = df.index.month
df['day'] = df.index.day
df['weekday'] = df.index.weekday
df['hour'] = df.index.hour

Index([2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019,
       ...
       2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024],
      dtype='int32', name='datetime', length=1789045)

# Run

In [5]:
def process_csv(x):
  x['date'] = pd.to_datetime(df['date'])
  x['datetime'] = df['date'] + pd.to_timedelta(df['heure'], unit='h')
  x.sort_values(by='datetime', inplace=True)
  x.set_index('datetime', inplace=True)
  x.drop(['date', 'heure', 'polluant', 'stationId'], axis=1, inplace=True)
  x['year'] = df.index.year
  x['month'] = df.index.month
  x['day'] = df.index.day
  x['weekday'] = df.index.weekday
  x['hour'] = df.index.hour

def split(x):
  x_train = x[x.index.year < 2024]
  x_test = x[x.index.year >= 2024]
  return x_train, x_test

# https://donnees.montreal.ca/dataset/rsqa-iqa-historique
df = pd.read_csv("https://donnees.montreal.ca/dataset/547b8052-1710-4d69-8760-beaa3aa35ec6/resource/0c325562-e742-4e8e-8c36-971f3c9e58cd/download/rsqa-indice-qualite-air-2022-2024.csv")
# df2 = pd.read_csv("https://donnees.montreal.ca/dataset/547b8052-1710-4d69-8760-beaa3aa35ec6/resource/e43dc1d6-fbdd-49c3-a79f-83f63404c281/download/rsqa-indice-qualite-air-2019-2021.csv")
# df = pd.concat([df1, df2], ignore_index=True)

process_csv(df)
df_train, df_test = split(df)

In [6]:
df_train

                     valeur  year  month  day  weekday  hour
datetime
2022-01-01 00:00:00      45  2022      1    1        5     0
2022-01-01 00:00:00      48  2022      1    1        5     0
2022-01-01 00:00:00      47  2022      1    1        5     0
2022-01-01 00:00:00       1  2022      1    1        5     0
2022-01-01 00:00:00       4  2022      1    1        5     0
...                     ...   ...    ...  ...      ...   ...
2023-12-31 23:00:00       1  2023     12   31        6    23
2023-12-31 23:00:00       7  2023     12   31        6    23
2023-12-31 23:00:00       1  2023     12   31        6    23
2023-12-31 23:00:00      15  2023     12   31        6    23
2023-12-31 23:00:00       0  2023     12   31        6    23

[671375 rows x 6 columns]

In [7]:
dls = to = TabularPandas(
  df_train,
  procs=[Normalize],
  cat_names=[],
  cont_names=['year', 'month', 'day', 'weekday', 'hour'],
  y_names=['valeur'],
  splits=RandomSplitter(valid_pct=0.2, seed=42)(range_of(df_train))
).dataloaders()

dls.show_batch()

In [8]:
learn = tabular_learner(dls, metrics=accuracy)
learn.fit_one_cycle(5)